@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@include media-breakpoint-up(lg) {
    .overlap-left {
        margin: 20px 100px 20px -100px;
    }

    .overlap-right {
        margin: 20px -100px 20px 100px;
        z-index: 2;
    }

    .video {
        width: 50vw;
    }

    .xl-title {
        font-size: 5rem;
    }

    .vs {
        margin: 0 -50px;
    }

    .bout-bg {
        height: 300px;
    }

    .lg-only {
        display:flex;
    }
    
    .lg-only-block {
        display: block;
    }
}

@include media-breakpoint-down(lg) {
    .overlap-left, .overlap-right {
        margin: -50px 0 50px 0;
    }

    .video {
        width: 100vw;
    }

    .xl-title {
        font-size: 2rem;
    }

    .vs {
        margin: -35px 0;
    }

    .bout-bg {
        height: 100px;
    }
    
    .lg-only, .lg-only-block {
        display: none;
    }
}

.payment {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.accent {
    color: hotpink
}

.vs {
    z-index: 2;
    text-align: center;
}

.video {
    height: 50vh;
}

.navbar {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    padding: 0;
}

.page-bg {
    height: 100%;
    min-height: 100vh;
    padding: 0;
}

.page-loader {
    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content:  center;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
}
.content {
    padding: 0px;
    padding-top: 130px;
    margin-top: -130px;
    margin-bottom: 0;
}

.bg-img {
    background-position: center;
    background-size: cover;
}

.header-img {
    background-position: top;
    background-size: cover;
    margin-top: -140px;
    padding-top: 140px;
}

.team-header {
    padding-top: 15%;
    padding-bottom: 15%;
}

.text-shadow {
    text-shadow: 0 0 1em black, 0 0 0.2em black, 1px 1px 2px black;
}

.cursor-pointer {
    cursor: pointer;
}

.bout-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skater-image {
    max-height: 300px;
    max-width: 90%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (max-width: 991px) {
    .content {
        padding: 0px;
        margin: 0px;
    }
    .page-loader {
        height: 100%;
        padding: 10vw;
        padding-top: 0px;
    }
}